{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<form method="post" action="{{base_path}}/groups/new">
    <div class="form-group">
        <input type="text" name="name" placeholder="Ryhmän nimi" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Luo uusi ryhmä</button>
    </div>
</form>

{% if groups %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ryhmän nimi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>
                <a href="{{base_path}}/groups/{{group.id}}">{{group.name}}</a>
            </td>
            {% if (group.creator == user_logged_in.id or user_logged_in.admin) %}
            <th>
                {{forms.edit_button("#{base_path}/groups/#{group.id}/edit")}}
                {{forms.destroy_button("#{base_path}/groups/#{group.id}/delete")}}
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <p>Et kuulu yhteenkään ryhmään!</p>
</div>
{% endif %}
{% endblock %}