{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for group in groups %}
        <tr>
            <td>
                <a href="{{base_path}}/{{group.id}}">{{group.name}}</a>
            </td>
            <th>
                <a class="btn btn-default btn-sm" href="#">Muokkaa</a>
                <a class="btn btn-danger btn-sm" href="#">Poista</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}