{% extends "base.html" %}
{% block content %}

 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Luonut</th>
        <th>Luotu</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Aihe 1</td>
        <td>fallenangel69</td>
        <td>12.12.2015</td>
        <th>
            <a class="btn btn-default btn-sm" href="#">Muokkaa</a>
            <a class="btn btn-danger btn-sm" href="#">Poista</a>
        </th>
      </tr>
    </tbody>
  </table>

{% endblock %}