{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{topic.title}}</h1>
<table class="table table-striped table-bordered">
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{message.author.name}}</td>
            <td>{{message.posted}}</td>
            <td>{{message.message}}</td>
            {% if (message.author.id == user_logged_in.id or user_logged_in.admin) %}
            <th>
                {{forms.edit_button("#{base_path}/topics/#{topic.id}/#{message.id}/edit")}}
                {{forms.destroy_button("#{base_path}/topics/#{topic.id}/#{message.id}/delete")}}
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="{{base_path}}/topics/{{topic.id}}">
    <div class="form-group">
        <textarea name="message" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Vastaa</button>
    </div>
</form>
{% endblock %}